.page-delivery {
  width: 100%;
}

.page-delivery__inner {
  border: $bred;
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-delivery__inner h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 70%;
}

.delivery__types {
  display: flex;
}

.form-control {
  border: $bred;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.form-control::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background: url(../img/exclamation.svg) center no-repeat;
  background-size: contain;
  visibility: hidden;
}

.form-control.error::before {
  visibility: visible;
}


.form-control label {
  margin-bottom: 20px;
}

.form-control input {
  display: block;
  border: 1px solid #999999;
  border-radius: 4px;
  padding-left: 17px;
  height: 48px;
}

.form-control textarea {
  border: 1px solid #999999;
  border-radius: 4px;
}

.form-control p {
  position: absolute;
  visibility: hidden;
  bottom: 0;
  left: 0;
  color: #F12828;
}

.form-control.error p {
  visibility: visible;
}

.page-delivery__inner button {
  width: 200px;
  height: 48px;
  border-radius: 80px;
  background-color: #215BF0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}
