.page-delivery {
  width: 100%;
  padding: 80px 15px 50px;
  background: #E5E5E5;
}

.page-delivery__inner {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.page-delivery__inner h2 {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 70%;
  margin-bottom: 58px;
}

.delivery-types {
  display: flex;
}

.delivery-type {
  height: 48px;
  padding: 0 40px;
  background: #EDEEEF;
  margin-right: 8px;
  border-radius: 5px 5px 0 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 767px) {
    padding: 0 15px;
    font-size: 14px;
  }
}

.delivery-type:first-child {
  color: #215BF0;
  background: #FFFFFF;
}

.delivery-feature {
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 45px 40px 48px;

  @media (max-width: 767px) {
    padding: 20px;
  }
}

.page-delivery__inner form.visually-hidden {
  display: none;
}

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 37px;
}

.form-control--comment {
  padding-bottom: 45px;
}

.form-control--smaller {
  width: calc((100% - 24px) / 2);

  @media (max-width: 767px) {
    width: 100%;
  }
}

.form-control label {
  margin-bottom: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.form-control input {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border: 1px solid #999999;
  border-radius: 4px;
  padding-left: 17px;
  height: 48px;
}

.form-control textarea {
  border: 1px solid #999999;
  border-radius: 4px;
}

.form-control p {
  position: absolute;
  visibility: hidden;
  bottom: 18px;
  left: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #F12828;
}

.form-control input:invalid:not(:focus):not(:placeholder-shown) + p {
  visibility: visible;
}

.form-control .form-control__img {
  position: absolute;
  top: 40px;
  right: 16px;
  visibility: hidden;
}

.form-control input:invalid:not(:focus):not(:placeholder-shown) ~ .form-control__img {
  visibility: visible;
}

.page-delivery__inner button {
  width: 200px;
  height: 48px;
  border-radius: 80px;
  background-color: #215BF0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  margin-left: auto;
  cursor: pointer;

  &:disabled {
    background-color: #EDEEEF;
    color: #999999;
  }

  &:active {
    background-color: #0F41C4;
  }
}

.delivery-feature--addresses {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.delivery-feature--addresses.visually-hidden {
  display: none;
}


.pick-up-points {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pick-up-point {
  width: calc((100% - 24px) / 2);

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.page-delivery .map-view {
  margin-top: 26px;
  margin-bottom: 40px;
  height: 560px;
  width: 100%;

  @media (max-width: 767px) {
    height: 350px;
  }
}
